https://cafe.naver.com/esaa2019?iframe_url_utf8=%2FArticleRead.nhn%253Fclubid%3D29858915%2526page%3D1%2526menuid%3D80%2526boardtype%3DL%2526articleid%3D2297%2526referrerAllArticles%3Dfalse

기한: 9월 11일 (월) 18시 30분

과제: 1) 파이썬 머신러닝 완벽가이드 pg. 39~86를 필사하여 깃허브에 업로드한 뒤, 깃허브 링크를 댓글로 달아주세요.

2) 아래 넘파이 문제를 끝까지 풀고(26~39번) 깃허브에 업로드한 뒤, 깃허브 링크를 댓글로 달아주세요.

# 1. 파이썬 머신러닝 완벽가이드 pg. 39~86

In [10]:
competition_name = "titanic"

# Mount your Google Drive.
from google.colab import drive
drive.mount("/content/drive")

kaggle_creds_path = "PATH_TO_YOUR_TOKEN"

!pip install kaggle --quiet

#!mkdir ~/.kaggle
#!cp PATH_TO_YOUR_TOKEN ~/.kaggle/
#!chmod 600 ~/.kaggle/kaggle.json

!kaggle competitions download -c {competition_name}

!mkdir kaggle_data
!unzip {competition_name + ".zip"} -d kaggle_data

# Unmount your Google Drive
drive.flush_and_unmount()

Mounted at /content/drive
titanic.zip: Skipping, found more recently modified local copy (use --force to force download)
mkdir: cannot create directory ‘kaggle_data’: File exists
Archive:  titanic.zip
replace kaggle_data/gender_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: kaggle_data/gender_submission.csv
replace kaggle_data/test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: kaggle_data/test.csv
replace kaggle_data/train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: kaggle_data/train.csv

## 04 데이터 핸들링 - 판다스
2차원 데이터를 효율적으로 가공/처리할 수 있는 라이브러리

### 판다스 시작 - 파일을 dataframe으로 로딩, 기본 API
메타 데이터 조회
* `info()` - 총 데이터 건수, 데이터 타입, Null 건수
* `describe()` - column별 숫자형 데이터값의 n-percentile 분포도, 평균값, 최댓값, 최솟값
* `value_counts()` - 해당 column값의 유형과 건수 확인, 데이터 분포도 확인에 유용

In [8]:
import pandas as pd

In [15]:
#from google.colab import drive
#drive.mount('/content/drive')
titanic_df = pd.read_csv('/content/drive/MyDrive/4-2/ESAA/data/titanic/train.csv')
drive.flush_and_unmount()
print(type(titanic_df))
titanic_df.head(3)

<class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [16]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [18]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [20]:
# []에 칼럼 이름을 넣으면 해당 칼럼에 해당하는 series 객체를 반환
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

In [21]:
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

### Dataframe, list, dictionary, numpy dnarray 상호변환

In [22]:
import numpy as np

In [23]:
col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1)
print(array1.shape)

(3,)

In [24]:
# 리스트를 이용해 Dataframe 생성
df_list1 = pd.DataFrame(list1, columns=col_name1)
print(df_list1)

   col1
0     1
1     2
2     3

In [25]:
# numpy ndarray를 이용해 DataFrame 생성
df_array1 = pd.DataFrame(array1, columns=col_name1)
print(df_array1)

   col1
0     1
1     2
2     3

In [26]:
col_name2 = ['col1', 'col2', 'col3']
list2 = [[1,2,3],
         [11,12,13]]
array2 = np.array(list2)
print(array2.shape)

(2, 3)

In [27]:
# 2차원 리스트를 이용해 Dataframe 생성
df_list2 = pd.DataFrame(list2, columns=col_name2)
print(df_list2)

   col1  col2  col3
0     1     2     3
1    11    12    13

In [28]:
# 2차원 numpy ndarray를 이용해 DataFrame 생성
df_array2 = pd.DataFrame(array2, columns=col_name2)
print(df_array2)

   col1  col2  col3
0     1     2     3
1    11    12    13

In [31]:
# 딕셔너리로 만든 DataFrame
dict = {'col1':[1,11], 'col2':[2,22], 'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print(df_dict)

   col1  col2  col3
0     1     2     3
1    11    22    33

In [32]:
# DataFrame을 ndarray로 변환
array3 = df_dict.values
print(type(array3), array3.shape)
print(array3)

<class 'numpy.ndarray'> (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [33]:
# DataFrame -> list
list3 = df_dict.values.tolist()
print(list3)

# DataFrame -> dictionary
dict3 = df_dict.to_dict('list')
print(dict3)

[[1, 2, 3], [11, 22, 33]]
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

### Dataframe의 칼럼 데이터 세트 생성과 수정

### Dataframe 데이터 삭제

### Index 객체

### Data selection, filtering
`[]`, `ix[]`, `iloc[]`, `loc[]`, boolean indexing

### 정렬, Aggregation 함수, GroupBy 적용


*   `sort_values()` - Dataframe, series의 정렬
*   Aggregation 함수 적용
* `groupby()` 적용

### 결손 데이터 처리하기
* isna() - 결손 데이터 여부 확인
* fillna() - 결손 데이터 대체

### apply lambda 식으로 데이터 가공

# 2. Numpy exercises